{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type = "text/css" href="{% static 'news/styles.css' %}">
{% endblock %}
{% block content %}

<h1>Profile Page</h1>
<div id="">
    <h2>{{ user.username}}</h2>
    <h4>{{ story.pub_date }}</h4>
    
    
    {% for story in stories %}
    <a href="{% url 'news:story' story.pk %}">{{ story.title }}</a>
    <h4>{{ story.pub_date }}</h4>
    <h4>{{ user.email}}</h4>
   
    {% endfor %}
</div>



{% endblock %} 